config/google-chrome*/
config/Slack/
config/1Password/
config/dconf/
config/EOS*
config/BraveSoftware/
config/chromium/
config/evolution/
config/gnome-control-center/
config/microsoft-edge-dev/
config/pulse/
config/vivaldi*/
config/ibus/
config/Unknown Organization/
config/discord/Cache/
config/blender/
config/Code/
config/GIMP/
config/session/
config/spotify/
config/discord/
config/balena-etcher-electron/
config/Microsoft/
config/Microsoft Teams - Preview/
config/teams/
config/JetBrains/
config/coc/extensions/node_modules/
config/gtk-3.0/
config/gtk-2.0/
config/gtk-4.0/
config/inkscape/
config/gnome-boxes/
config/kdeglobals
config/libvirt

config/omniverse
config/omniverse*
config/QtProject
config/dlv
config/menus
local/bin/pip*
config/Trolltech.conf
config/QtProject.conf
config/VCG
config/nwjs
config/wireshark/
config/KADOKAWA
config/Surfshark
config/protonvpn
config/VCG
config/QtProject.conf
config/qt5ct
config/hardhat-nodejs
config/.gsd-keyboard.settings-ported
local/bin/stm32_cube

packer_compiled.lua


local/share/nvim/swap
local/share/nvim/site
local/state/nvim
local/share/nvim/mason
local/share/nvim/plugged
config/nvim/plugin/
local/lib/
local/share/karabiner
config/jgit
config/configstore
local/share/nvim/undo
local/share/nvim

**/__pycache__
work_branch/
config/nvim/plugin/packer_compiled.lua
home/todo
