# startup
after-login-command = [  ]
after-startup-command = [ 'exec-and-forget sketchybar' ]

# callbacks
exec-on-workspace-change = [
  '/bin/bash',
  '-c',
  'sketchybar --trigger refresh_spaces FOCUSED=$AEROSPACE_FOCUSED_WORKSPACE VISIBLE=$(aerospace list-workspaces --monitor all --visible | tr "\n" ",")',
]
on-focus-changed = [ 'move-mouse window-lazy-center' ]

start-at-login = true

# extra
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = false
accordion-padding = 10

# defaults
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
key-mapping.preset = 'qwerty'

[gaps]
inner.horizontal = 0
inner.vertical = 0
outer.left = 0
outer.bottom = 0
outer.top = [ { monitor."^built-in retina display$" = 0 }, 36 ]
outer.right = 0

[mode.main.binding]
# launch applications
cmd-shift-enter = 'exec-and-forget $HOME/.local/bin/terminal'
cmd-shift-w = 'exec-and-forget $HOME/.local/bin/browser'
ctrl-s = "exec-and-forget osascript -e 'tell application \"System Events\" to tell dock preferences to set autohide menu bar to not (autohide menu bar)'"

cmd-h = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop left'
cmd-j = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop down'
cmd-k = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop up'
cmd-l = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop right'
cmd-shift-h = 'move left'
cmd-shift-j = 'move down'
cmd-shift-k = 'move up'
cmd-shift-l = 'move right'

cmd-m = 'balance-sizes'
cmd-shift-d = "exec-and-forget aerospace list-windows --all --json | jq '.[] | select(.[\"window-title\"] == \"\") | .[\"window-id\"]' | xargs -n 1 aerospace close --window-id"

cmd-1 = 'workspace 1'
cmd-2 = 'workspace 2'
cmd-3 = 'workspace 3'
cmd-4 = 'workspace 4'
cmd-5 = 'workspace 5'
cmd-6 = 'workspace 6'
cmd-7 = 'workspace 7'
cmd-8 = 'workspace 8'
cmd-9 = 'workspace 9'
cmd-0 = 'workspace 10'

alt-1 = 'workspace 11'
alt-2 = 'workspace 12'
alt-3 = 'workspace 13'
alt-4 = 'workspace 14'
alt-5 = 'workspace 15'
alt-6 = 'workspace 16'
alt-7 = 'workspace 17'
alt-8 = 'workspace 18'
alt-9 = 'workspace 19'
alt-0 = 'workspace 20'

cmd-alt-1 = 'workspace 21'
cmd-alt-2 = 'workspace 22'
cmd-alt-3 = 'workspace 23'
cmd-alt-4 = 'workspace 24'
cmd-alt-5 = 'workspace 25'
cmd-alt-6 = 'workspace 26'
cmd-alt-7 = 'workspace 27'
cmd-alt-8 = 'workspace 28'
cmd-alt-9 = 'workspace 29'
cmd-alt-0 = 'workspace 30'

cmd-shift-1 = 'move-node-to-workspace 1'
cmd-shift-2 = 'move-node-to-workspace 2'
cmd-shift-3 = 'move-node-to-workspace 3'
cmd-shift-4 = 'move-node-to-workspace 4'
cmd-shift-5 = 'move-node-to-workspace 5'
cmd-shift-6 = 'move-node-to-workspace 6'
cmd-shift-7 = 'move-node-to-workspace 7'
cmd-shift-8 = 'move-node-to-workspace 8'
cmd-shift-9 = 'move-node-to-workspace 9'
cmd-shift-0 = 'move-node-to-workspace 10'

alt-shift-1 = 'move-node-to-workspace 11'
alt-shift-2 = 'move-node-to-workspace 12'
alt-shift-3 = 'move-node-to-workspace 13'
alt-shift-4 = 'move-node-to-workspace 14'
alt-shift-5 = 'move-node-to-workspace 15'
alt-shift-6 = 'move-node-to-workspace 16'
alt-shift-7 = 'move-node-to-workspace 17'
alt-shift-8 = 'move-node-to-workspace 18'
alt-shift-9 = 'move-node-to-workspace 19'
alt-shift-0 = 'move-node-to-workspace 20'

cmd-alt-shift-1 = 'move-node-to-workspace 21'
cmd-alt-shift-2 = 'move-node-to-workspace 22'
cmd-alt-shift-3 = 'move-node-to-workspace 23'
cmd-alt-shift-4 = 'move-node-to-workspace 24'
cmd-alt-shift-5 = 'move-node-to-workspace 25'
cmd-alt-shift-6 = 'move-node-to-workspace 26'
cmd-alt-shift-7 = 'move-node-to-workspace 27'
cmd-alt-shift-8 = 'move-node-to-workspace 28'
cmd-alt-shift-9 = 'move-node-to-workspace 29'
cmd-alt-shift-0 = 'move-node-to-workspace 30'

alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

ctrl-alt-h = 'join-with left'
ctrl-alt-j = 'join-with down'
ctrl-alt-k = 'join-with up'
ctrl-alt-l = 'join-with right'

alt-s = 'layout v_accordion'
alt-t = 'layout h_accordion'
alt-b = 'layout h_tiles'
alt-v = 'layout v_tiles'
ctrl-f = 'layout floating tiling'

alt-shift-f = 'fullscreen'

alt-r = 'mode resize'

[workspace-to-monitor-force-assignment]
1 = [ 2 ]
2 = [ 2 ]
3 = [ 2 ]
4 = [ 2 ]
5 = [ 2 ]
6 = [ 2 ]
7 = [ 2 ]
8 = [ 2 ]
9 = [ 2 ]
10 = [ 2 ]
11 = [ 1, 2 ]
12 = [ 1, 2 ]
13 = [ 1, 2 ]
14 = [ 1, 2 ]
15 = [ 1, 2 ]
16 = [ 1, 2 ]
17 = [ 1, 2 ]
18 = [ 1, 2 ]
19 = [ 1, 2 ]
20 = [ 1, 2 ]
21 = [ 3 ]
22 = [ 3 ]
23 = [ 3 ]
24 = [ 3 ]
25 = [ 3 ]
26 = [ 3 ]
27 = [ 3 ]
28 = [ 3 ]
29 = [ 3 ]
30 = [ 3 ]

[mode.resize.binding]
h = 'resize width -50'
j = 'resize height +50'
k = 'resize height -50'
l = 'resize width +50'
shift-h = 'resize width -10'
shift-j = 'resize height +10'
shift-k = 'resize height -10'
shift-l = 'resize width +10'
alt-r = 'mode main'
esc = 'mode main'
shift-c = 'reload-config'
shift-b = 'exec-and-forget sketchybar --reload'
shift-r = 'balance-sizes'


[[on-window-detected]]
    if.app-id = 'com.electron.wispr-flow'
    run = 'layout floating'
