@import "themes/active.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font Mono Ret, Noto Sans Light, monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: @base;
    border-bottom: 1px solid @crust;
    color: @text;
}

tooltip {
  background: @base;
  border: 1px solid @crust;
}

tooltip label {
  color: @text;
}

#workspaces button {
    padding: 2px;
    color: @overlay0;
    background: transparent;
    border-bottom: 1px solid transparent;
}

#workspaces button.focused {
    background: @surface0;
    border-bottom: 1px solid @crust;
}

#mode, #clock, #battery {
    padding: 4px 4px;
}

#mode {
    background: @base;
    border-bottom: 1px solid @text;
}

#clock {
    background-color: @base;
}

#battery {
    background-color: @base;
    color: @text;
}

#battery.charging {
    background-color: @surface0;
    color: @green;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

#battery.warning:not(.charging) {
    background: @base;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
